
.mt-6 {
    margin-top: 1.5rem;
  }
  
 
  .space-y-6 {
    display: flex;
    /* margin-left: 50px; */
    flex-direction: column;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    border-radius: 20px;

    width: 517px;
    background-color: #f4f4f4;
  
  }
  
  /* Form element styles */
  label {
    margin-bottom: 0.5rem;
    margin-top: 8px;
  }
  
  input[type="number"],
  input[type="text"],
  select {
    width: 100%;
   
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Radio button styles */
  .space-y-1 input[type="radio"] {
    margin-right: 0.25rem;
  }
  
  /* Submit button styles */
  button {
    width: 100%;
    padding: 1rem;
    background-color: #4f46e5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Hover effect on submit button */
  button:hover {
    background-color: #4338ca;
  }
  
  .contentimg{
   
   margin-left: 250px;
   top: 200px;
  }
 
  .age{
    display: flex;
    gap: 10px;
    margin-left: -220px;

  }
  .select3{
    display: flex;
    gap: 15px;
  }
  .bmi{
    gap: 10px;
    margin-left: -5px;
    display: flex;
  }
  .children{
    gap: 10px;
    display: flex;
  }
input{
  padding: 2px;

}
.gender{
 margin-left: -285px;

}
.smoker{
  margin-left: -325px;

}
.region{
  margin-left: -225px;

}
.marin{
  display: flex;
  margin-left: -5px;
}

.martial {
  display: flex;
}
.martial select{
  padding-top: 10px;
}
.income{
  display: flex;
}
.martialheading{
  width: 100px;
  
}
.incomeheading{
margin-left: 10px;
margin-right: 10px;}
.education{
  display: flex;
    margin-left: -6px;
    gap: 10px;
    width: 470px;

}
.employment{
margin-left: -170px;
}
.button{
  margin-left: -8px;
  width: 466px;}
  .object-img{
    width: 400px;
  }
  .heading1{
    font-size: 40px;
    margin-left: -40px;

  }
  .heading2{
    font-size: 40px;
    font-weight: bolder;
    margin-left: -40px;


  }
  .main{
    display: flex;
  }
  .budget{
    margin-left: 5px;
    width: 472px;
    gap: 10px;
    margin-right: 10px;
    display: flex;
  }