/* SignupPage.css */


.signup-card {
  cursor: pointer;
  width: 300px;
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: border 0.3s;
}

.signup-card h2 {
    color:#0b5485;
    margin-top: 10px;
    font-size: 14px;

    font-family: 'Poppins';
    font-weight: 600;}

.signup-card.user {
    margin-left: -20px;
    height: 112px;
    width: 166px;
    padding-top: 23px;

    font-family: "poppins";
    margin-top: 200px;
    position: absolute;
    border: 2px solid #0b5485;
}
.cards_signinup{
    margin: auto;
    width: 21%;
}

.signup-card.company {
    margin-left: 180px;
    height: 112px;
    width: 166px;
    padding-top: 23px;

   font-family: "poppins";
   margin-top: 200px;
   position: absolute;
    border: 2px solid #0b5485;
}
.signup-card.company:hover {
    background-color: rgb(215, 231, 250);
    border: 2px solid rgb(22, 54, 122);;
}
.signup-card.user:hover {
    background-color: rgb(215, 231, 250);
    border: 2px solid rgb(22, 54, 122);
}
.selected_button{
    width: 12%;
    margin: auto;}

.selected-option-button {
    margin-top: 350px;
    padding: 10px;
    background-color: #0b5485;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 205px;
    border-radius: 19px;
    gap: 3px;
    position: absolute;
    font-family:"poppins";
    text-align: center;
}

.selectone{
    font-size: 45px;
    font-weight: 20px;
    font-family: 'Poppins';
    color: #0b5485;
    font-weight: 600;
    /* margin-left: 505px; */
    width: 100%;
    text-align: center;
    margin-top: 90px;
    position: absolute;
}
.signup-container{
    width: 100%;
}
HTML CSSResult Skip Results Iframe
EDIT ON
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html,body{
  height:100%;
}
.app{
background-image: linear-gradient(to right top, #0b5485, #1d6395, #2b72a6, #3881b6, #4491c7, #5f9ace, #76a3d5, #8aacdc, #a5b2d9, #b8bad5, #c6c3d1, #cecdcf);
height:100vh;
width:100%;
}
.animation_li {
  display:block;
  width:100%;
  height:inherit;
}
.animation_li {
  list-style-type:none;
}
.animation_li li:nth-child(1)
{
  position:absolute;
  left:10%;
  height:50px;
  width:50px;
  background:rgba(255,255,255,.2);
}
.animation_li  li:nth-child(2)
{
  position:absolute;
  left:30%;
  height:60px;
  width:60px;
  background:rgba(255,255,255,.2);
}

.animation_li  li:nth-child(3)
{
  position:absolute;
  left:50%;
  height:180px;
  width:180px;
  background:rgba(255,255,255,.2);
}
.animation_li  li:nth-child(4)
{
  position:absolute;
  left:80%;
  height:20px;
  width:20px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(5)
{
  position:absolute;
  left:10%;
  height:20px;
  width:20px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(6)
{
  position:absolute;
  right:10%;
  height:20px;
  width:20px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(7)
{
  position:absolute;
  right:40%;
  height:100px;
  width:100px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(8)
{
  position:absolute;
  left:10%;
  height:140px;
  width:140px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(9)
{
  position:absolute;
  right:80%;
  height:50px;
  width:50px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(10)
{
  position:absolute;
  right:20%;
  height:50px;
  width:50px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(11)
{
  position:absolute;
  right:40%;
  height:70px;
  width:70px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(12)
{
  position:absolute;
  right:80%;
  height:190px;
  width:190px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(13)
{
  position:absolute;
  right:60%;
  height:50px;
  width:50px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(14)
{
  position:absolute;
  right:50%;
  height:150px;
  width:150px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(15)
{
  position:absolute;
  right:20%;
  height:120px;
  width:120px;
  background:rgba(255,255,255,.2);
}
.animation_li li:nth-child(16)
{
  position:absolute;
  left:50%;
  height:100px;
  width:100px;
  background:rgba(255,255,255,.2);
}


.animation_li li{
  animation:animate 25s linear 1s infinite;
}

@keyframes animate{
  from{
    transform: translateY(+1500%) rotate(180deg)
  }
  to{
    transform: translateY(-150%)
      rotate(360deg)
  }
}