/* SignupPage.css */


.signup-card {
  cursor: pointer;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: border 0.3s;
}

.signup-card h2 {
  color: #333;
}

.signup-card.user {
    margin-left: 797px;
    height: 112px;
    width: 166px;
    display: flex;
    font-family: "poppins";
    margin-top: 180px;
    position: absolute;
    border: 2px solid #0b5485;
}

.signup-card.company {
    margin-left: 521px;
    height: 112px;
    width: 166px;
    display: flex;
   font-family: "poppins";
    margin-top: 180px;
    position: absolute;
    border: 2px solid #0b5485;
}
.signup-card.company:hover {
    background-color: rgb(215, 231, 250);
    border: 2px solid rgb(22, 54, 122);;
}
.signup-card.user:hover {
    background-color: rgb(215, 231, 250);
    border: 2px solid rgb(22, 54, 122);
}


.selected-option-button {
    margin-top: 343px;
    padding: 10px;
    background-color: #0b5485;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 19px;
    gap: 3px;
    position: absolute;
    margin-left: 644px;
    font-family:"poppins";
    text-align: center;
}

.selectone{
    font-size: 40px;
    font-weight: 20px;
    font-family: "poppins";
    color: #0b5485;
    margin-left: 505px;
    margin-top: 90px;
    position: absolute;
    font-weight: 600;
}