.notification {
  justify-content: right;
}
.notification-heading {
    font-style: normal;
    font-size: 26px;
    margin-left: 80px;
    font-weight: bold;
    margin-top: -17px;
    background: #5c9bce;
    color: white;
    border-radius: 100px;
    height: 40px;
    width: 177px;
    text-align: center;
}
.bellicon {
    display: flex;
    margin-top: -36px;
    position: absolute;
    margin-left: 21px;
}
.bellicon button {
  margin-top: -55px;
}
.notification-container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #b3cde2;
  margin-top: 62px;
}
.notification-container li {
    list-style-type: none;
    margin-bottom: 8px;
  }
  .notification-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 5px 2px grey;
    gap: 2px;
    height: 99px;
   
    
  }
  .notification-item li {
    list-style-type: none;
    margin-bottom: 8px;
  }
  .notification-item li.case_id {
    font-weight: bold;
    color: #007bff;
  }
  .notification-item li.age {
    color: #28a745;
  }
  .notification-item li.recommended {
    font-weight: bold;
    color: #76797c;
  }
