/* .com-signup{
    max-width: 600px;
    margin: 0 auto;
    padding: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background:#ded4cb;

}

.sign-up-input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 50px;
    width: 430px;
}

.input-email{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 50px;
    width: 438px;
    border-radius: 7px;
    border: none;
}

.input-phonenumber{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 50px;
    width: 438px;
    border-radius: 7px;
    border: none;  
}
.input-password{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 50px;
    width: 438px;
    border-radius: 7px;
    border: none;
}
.text-sign{
    color: #63b3ed;
    font-size: 48px;
    font-weight: 700;
    position:absolute;
    margin-top: -65px;
}
.underline-sign{
    width:61px;
    height:7px;
    background: #63b3ed;
    border-radius: 9px;
    margin-left: 186px;
    position: absolute;
    margin-top: 7px;
}
.submit_btn{
    background-color: #4c84af;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.inputs-cont{
margin-top: 60px;
} */

.popup_company{
    display: flex;
    flex-direction: column;
    box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding-bottom: 30px;
    border-radius: 15px;
    font-family: "poppins";
}

.headers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top:10px;
}

.text{
    color: #3498DB;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins';
}
.underline{
    width:61px;
    height:4px;
    border-radius: 9px;
}
.inputs{
    margin-top: 15px;
    display: flex;
    gap: 1px !important;
    flex-direction: column;
}


.input{
    display: flex;
    align-items: center;
    width: 90%;
    align-self: center;
    height: 53px !important;
    border-radius: 6px;
}

.input img{
    margin: 0px 20px;
}

.inputs input{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;

    box-sizing: border-box;
}

.forgot-password{
padding-left: 50px;
margin-top: 27px;
color:#6a6d71;
font-size: 18px;
}

.forgot-password span{
    color:rgb(99, 94, 164);
    cursor:pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    /* margin: 60px auto; */
    justify-content: center;
    margin-top: 20px;
}
.submittion{
   
    background-color: #3498DB; 
    font-weight: 600;
    font-family: 'Poppins';
    color: #fff;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
    padding: 10px 150px 10px 150px;

}
.forgot-password span {
  margin-right: 4px;
}

.gray{
    background: #EAEAEA;
    color: gray;
}
.switch-action{
   display: flex;
   justify-content: center; 
   align-items:center;
   margin-top: 20px;
 
}
.inputsmall{
  
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 80px;
    border-radius: 6px;
    gap: 10px;
}
.inputsmall input{
    background: #fff;
    outline: none;
    color: black;
    font-size: 15px;
    border-radius: 10px;
}
.inputsmall img{

    margin-right: 10px;
}

.account span{
    cursor: pointer;
    color: #4299e1;
}
.account span:hover{
    cursor: pointer;
    color: #0c5ba0;
}
.account{
    margin-top: 20px;
}
.submit:hover{
    background-color: #0c5ba0;
}

.company_signup_popup{
    display: flex;
}

.company_signup_img{
    background-size: cover;
    height: 770px;
       background-image: linear-gradient(to right top, #0b5485, #1d6395, #2b72a6, #3881b6, #4491c7, #5f9ace, #76a3d5, #8aacdc, #a5b2d9, #b8bad5, #c6c3d1, #cecdcf);
   }
   .company_signup_popup .company_sign_img img{
    
    margin: 130px;
    
    }
    .company_signup_img {
        width: 100%;

    }
    .company_popup_signin{
        margin: auto;
        width: 27%;
        position: relative;
        top: 20px;
        left: 60px;
    }
    .sign-up-input_business{
        position: relative;
        left: 23px;
    }
    .terms input{
        width: 5%;
        border-radius: 3px;
        border: 1px solid black;

        margin-left: 10px; }
        .terms{
            margin-left: 25px;
        }

