/* YourComponent.css */

.notifi-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: aliceblue;
  margin-top: 28px;
  padding: 31px;
}
.inline-info {
  display: flex;
  justify-content: space-between;
}

.user-item {
  flex: 0 0 calc(33.333% - 20px); /* Three items in a row with spacing */
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px; /* Added margin to create space between rows */
}

.user-item:hover {
  transform: scale(1.02);
}

.user-image {
  width: 100%;
  height: 150px; /* Adjust the height as needed */
  object-fit: cover;
}

.user-item ul {
  list-style-type: none;
  margin: 0;
  padding: 20px; /* Padding for the content area */
}

.user-item li {
  margin-bottom: 10px;
}

.profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height based on your design */
  object-fit: cover;
}
.notification-heading{
  font-size: 26px;
  margin-left: 80px;
  font-weight: bold;
  margin-top: -20px;
  background: #5c9bce;
  color: white;
  border-radius: 100px;
  height: 54px;
  width: 287px;
  text-align: center;
  font-family: fangsong;
}
